.App {
  background-color: rgb(225, 216, 234);
  text-align: center;
  font-family: Arial, sans-serif;
}

.pagination {
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 0 5px;
  cursor: pointer;
}

ul.image-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul.image-list li {
  margin: 10px;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
